html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: #1A1A1A;
    overflow-x: hidden;

}

/* hearder */
header {
    position: fixed;
    /* Fix the header at the top */
    top: 0;
    /* Align to the top of the viewport */
    width: 100%;
    /* Full width of the screen */
    z-index: 1000;
    /* Ensure it stays above other elements */
    background: #1A1A1A;
}

/* navigation Row 1 */
nav {
    padding: 0 40px;
    margin: 10px auto;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#menu{
    display: none;
}
nav ul{
    display: flex;
}

nav ul{
    color: #ffffFF;
    display: flex;
    list-style: none;
    gap: 36px;
    font-family: 'roboto';
    font-size: 16px;
    cursor: pointer;
}
ul img{
    display: none;
}
#btns{
    display: flex;
    gap: 24px;

}
#fill,
#stroke {

    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 12px;
    font-family: 'roboto';
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #BC5AFF;
    border: none;

}
#fill img{
    width: 24px;
}

#stroke img{
    width: 24px;
}

#fill {
    background-color: #BC5AFF;
    color: #ffffff;
    border: none;
}

#stroke {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #BBDEFA;
}


/* line 1 & line 2 styling */
hr {
    width: 100%;
    height: 1px;
    background-color: rgb(53, 53, 53);
    border: none;
    margin: 5px 0;
}

/* navigation Row 2 */

nav ul li:hover {
    color: #be5dff;
}

#contactbtn {
    color: #ffffFF;
    background: linear-gradient(111.73deg, #7607FF -60.3%, #BD5BFF 112.27%);
    border: none;
    font-family: 'roboto';
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
    padding: 8px 32px;
    cursor: pointer;
}

#contactbtn:hover {
    background: #be5dff;
    transition: background-color 0.5s cubic-bezier(0.42, 0, 0.19, 0.98);
}



/* hero saction */
.hero {
    position: relative;
    background-image: url(images/banner\ bg\.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    margin-bottom: 300px;
    height: 950px;
    background-repeat: no-repeat;
    background-position: center center;

}

#heading {
    padding-top: 220px;
}

#h3light {
    text-align: center;
    font-family: 'poppins';
    font-weight: lighter;
    font-size: 32px;
    color: #ffffff;
    line-height: 150%;
}

#h11,
#h12 {
    text-align: center;
    font-family: 'roboto';
    color: #ffffff;
}

#h11 {
    font-weight: 900;
    font-size: 100px;
}

#h12 {
    font-weight: 700;
    font-size: 62px;
}

#bannerimg {
    position: relative;
    top: -90px;
    /* width: auto; */
}
#top_img{
    width: fit-content;
}
#mob_banner{
    display: none;
}


/* about section  */

#aboutcontainer {
    position: relative;
    display: flex;
    margin: 0 auto;
    max-width: 1380px;
    align-items: center;
    gap: 100px;
}

#aboutcontent {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h2,
h4 {
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;

}

h4 {
    font-size: 24px;
}

#bulletpoints {
    color: #ffffFF;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: disc;
    font-size: 18px;
    gap: 20px;
    /* padding-left: 20px; */
}

#box {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px 20px;
    background: linear-gradient(265.98deg, #BD59FF 28.12%, #713599 128.96%);
    border-radius: 10px;
    gap: 10px;
}

#box_H,
#box_P {
    color: #ffffFF;
    font-family: 'Roboto';
}

#box_H {
    font-size: 20px;
    font-weight: 700;

}

#box_P {
    font-size: 18px;
    font-weight: 300;
}

/* our client */
#ourclient {
    position: relative;
    margin: 100px auto;
    max-width: 1600px;
    display: flex;
    background: linear-gradient(265.98deg, #BD59FF 28.12%, #713599 128.96%);
    gap: 100px;
    padding: 60px 80px;
    border-radius: 10px;
    align-items: center;
}

.clienttxt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

p {
    color: #d9d9d9;
    font-family: 'roboto';
    font-size: 18px;
    text-align: left;
}

.clientslogo {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.clientsay {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* clietsay section  */
#clientsay {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
    max-width: 1600px;
}

#client_hr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#block {
    display: flex;
    align-items: center;
    max-width: 80%;
    gap: 100px;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

#perahead {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

/* catagory  */
#catagory {
    position: relative;
    display: flex;
    align-items: center;
    margin: 100px auto;
    max-width: 1600px;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: clamp(20px, 5vw, 40px);
}

#cata_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#head_bottom,
#head_top {
    color: #ffffff;
    font-family: "roboto";
}

#head_top {
    font-size: 36px;
    font-weight: 700;
}

#head_bottom {
    font-size: 40px;
    font-weight: 900;
}

#blurbox {
    background: #BD59FF14;
    backdrop-filter: blur(100px);
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    gap: 40px;
}

#cata {
    display: flex;
    gap: 40px;
}

.catbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 20px;
    width: 400;
    height: 271;
    top: 3423px;
    left: 342px;
    border-radius: 10px;
    background: linear-gradient(218.93deg, #BC5AFF 1.08%, #7A0AFF 160.42%);
}

.caticon {
    width: 60px;
}
.caticon img{
    size: -50%;
}

.cathead {
    font-family: 'roboto';
    font-weight: 500;
    font-size: 24px;
    color: #ffffFF;
}

/* testimonials  */

#testimonials {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 100px auto;
    max-width: 1600px;
    align-items: center;
}

#testitop,
#google_review {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#google_review {
    gap: 10px;
}

/* Bottom part  */
#btm_container {
    display: flex;
    align-items: center;
    width: 100%;
    ;
    justify-content: space-between;
}

#blurbox2 {
    background: linear-gradient(360deg, #252139 0%, #675C9F 183.05%);
    backdrop-filter: blur(100px);
    padding: 40px;
    display: flex;
    width: 800px;
    border-radius: 10px;
    gap: 40px;
    align-items: center;
    margin: auto -160px;
}

#Reviewed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 70%;
}


/* Why we  */
#blurbox3 {
    position: relative;
    background: #BD59FF14;
    backdrop-filter: blur(100px);
    padding-left: 60px;
    display: flex;
    align-items: center;
    width: 1380px;
    border-radius: 10px;
    gap: 40px;
    margin: 0 auto;
}

#why_we {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#img_whywe {
    position: relative;
    align-items: flex-end;
    max-width: 50%;
}

/* Our Typical projects  */
#typicalprjs {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    max-width: 1600px;
    gap: 40px;
}

#horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    align-content: center;
}

#prjs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#prjs_top,
#prjs_1,
#prjs_2,
#prjs_4,
#prjs_5 {

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#prj_head_1,
#prj_head_2,
#prj_head_3,
#prj_head_4,
#prj_head_5 {
    position: relative;
    top: -40px;
    color: white;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    background: #BC5AFF;
    line-height: 40px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

#prjs_1,
#prjs_5 {
    opacity: 50%;
}

#prj_head_1,
#prj_head_5 {
    font-size: 18px;
}

#prjs_2,
#prjs_4 {
    opacity: 70%;

}

#prj_head_2,
#prj_head_4 {
    font-size: 20px;
}

/* blog section  */
#blog {
    position: relative;
    background-image: url(images/blog\ bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    align-items: center;
    /* margin: 0 0; */
    gap: 80px;
}

#blogH {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#blog_boxes {
    display: flex;
    align-items: flex-start;
    align-items: stretch;
    gap: 40px;
}

.blogBox {
    display: flex;
    flex-direction: column;
    background: #23004D;
    width: 400px;
    border-radius: 10px;
}

.blogHR {
    width: 100%;
    border: 1px solid #ECDDFF;

}

.blogContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px;
    gap: 20px;
}

.blogHead {
    font-family: 'roboto';
    font-size: 18px;
    height: 4em;
}

.ReadMore {
    background: none;
    color: #E1C8FF;
    font-family: 'roboto';
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
}

/* case studies  */
#caseStudies {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    max-width: 1600px;
    gap: 80px;
}

#hori {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#csblocks {
    display: flex;
    align-items: flex-start;
    /* width: 100%; */
    /* justify-content: space-between; */
    gap: 40px;
}

.csblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.cstxt {
    position: relative;
    top: -50px;
    background: linear-gradient(180deg, #BD59FF 0%, #713599 100%);
    padding: 40px 20px;
    display: flex;
    gap: 20px;
    /* flex-direction: column; */
    /* align-items: flex-end; */
    border-radius: 10px 0;
    width: 90%;
}

.leftArrow {
    margin: 0 -20px -70px 0;
    padding: 10px;
    background: #C391FF;
    border-radius: 10px 0;
}

footer {
    display: flex;
    width: 1600px;
    color: white;
    margin: 0 auto;
    justify-content: space-between;
    font-family: 'roboto';
    font-size: 18px;
}

ul {
    display: contents;
    gap: 20px;
}

li {
    list-style: none;
    font-weight: 300;
}

h5 {
    font-size: 20px;
}

.foot_col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#Social_icon {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* media queary  */

