html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: #1A1A1A;
    overflow-x: hidden;

}

/* hearder */
header {
    position: fixed;
    /* Fix the header at the top */
    top: 0;
    /* Align to the top of the viewport */
    width: 100%;
    /* Full width of the screen */
    z-index: 1000;
    /* Ensure it stays above other elements */
}

/* navigation Row 1 */
.nav1 {
    padding: 20px;
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* @media (max-width: 1024px) {
    .nav2 ul {
        gap: 20px;
        font-size: 14px;
    }
} */

#fill,
#stroke {

    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 16px;
    font-family: 'roboto';
    font-weight: 700;
    font-size: 18px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #BC5AFF;
    border: none;

}

#fill {
    background-color: #BC5AFF;
    color: #ffffff;
    border: none;
}

#stroke {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #BBDEFA;
}

.gap {
    display: flex;
    gap: 20px;
}

/* line 1 & line 2 styling */
#line1,
#line2 {
    width: 100%;
    height: 1px;
    background-color: rgb(53, 53, 53);
    border: none;
    margin: 5px 0;
}

/* navigation Row 2 */
.nav2 {
    max-width: 1600px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px auto;
}

.nav2 ul {
    display: flex;
    list-style: none;
    gap: 36px;
    font-family: 'roboto';
    font-size: 16px;
    cursor: pointer;
}

.nav2 ul li {
    color: #ffffFF;
}

.nav2 ul li:hover {
    color: #be5dff;
}

#contactbtn {
    color: #ffffFF;
    background: linear-gradient(111.73deg, #7607FF -60.3%, #BD5BFF 112.27%);
    border: none;
    font-family: 'roboto';
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
    padding: 8px 32px;
    cursor: pointer;
}

#contactbtn:hover {
    background: #be5dff;
    transition: background-color 0.5s cubic-bezier(0.42, 0, 0.19, 0.98);
}

@media (max-width: 1024px) {
    .nav2 ul {
        gap: 20px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .nav2 {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav2 ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #contactbtn {
        padding: 8px 24px;
        font-size: 14px;
    }
}

/* hero saction */
.hero {
    position: relative;
    background-image: url(images/banner\ bg\.png);
    background-size: cover;
    margin-bottom: 330px;
    height: 950px;
    background-repeat: no-repeat;
    background-position: center center;

}

.heading {
    /* position: absolute;
    display: block; */
    margin: 0 auto;
    padding: 200px 0px;

    /* position: absolute;
    margin: 0  auto;
    align-items: center;
    top: 200px;
    left: 200px;
    right: 200px; */
}

#h3light {
    text-align: center;
    font-family: 'poppins';
    font-weight: lighter;
    font-size: 32px;
    color: #ffffff;
    line-height: 150%;
}

#h11,
#h12 {
    text-align: center;
    font-family: 'roboto';
    color: #ffffff;
}

#h11 {
    font-weight: 900;
    font-size: 100px;
}

#h12 {
    font-weight: 700;
    font-size: 62px;
}

/* banner image */
.banner {
    position: relative;
    margin: 0px auto;

}

#topgrlimg {
    position: absolute;
    top: 0px;
    width: 100%;

}

/* about section  */

.aboutcontainer {
    position: relative;
    margin: 20px auto;
    max-width: 1380px;
    align-items: center;
    height: 500px;
}

.about {
    position: absolute;
    display: flex;
    gap: 120px;
    align-items: center;

}

.aboutcontent {
    DISPLAY: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 100%;
}

h2 {
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0%;

}

h4 {
    text-transform: capitalize;
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 0px;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.bulletpoints {
    color: #ffffFF;
    font-family: 'Roboto';
    display: inline-grid;
    justify-content: flex-start;
    align-items: center;
    list-style: disc;
    font-size: 20px;
    gap: 20px;
    padding-left: 20px;
}

#box {
    display: grid;
    width: 500px;
    height: auto;
    padding: 20px 20px;
    background: linear-gradient(265.98deg, #BD59FF 28.12%, #713599 128.96%);
    border-radius: 10px;
    gap: 10px;

}

.boxh {
    color: #ffffFF;
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;

}

.boxp {
    color: #ffffFF;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;

}

/* our client */
.ourclient {
    position: relative;
    /* justify-content: center; */
    /* top: 450px; */
    width: auto;
}

.clientbox {
    display: flex;
    /* max-width: 1600px; */
    height: auto;
    padding: 60px 80px;
    background: linear-gradient(265.98deg, #BD59FF 28.12%, #713599 128.96%);
    border-radius: 10px;
    gap: 100px;
    margin: 0 auto;
    max-width: 1400px;

}

.clienttxt {
    max-width: 580px;
    display: grid;
    gap: 10px;

}

p {
    color: #ffffFF;
    font-family: 'roboto';
    font-size: 18px;
    text-align: left;
}

.clientslogo {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

}

.clientsay {
    position: relative;
    display: flex;
    flex-direction: column;
}
/* #clienthr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
} */

.block {
    margin: 0 auto;
    /* Centers horizontally */
    /* width: 50%; */
    /* Set a width */
    text-align: center;
    display: grid;
    gap: 80px;
}


/* clietsay section  */
.clientsay {
    position: relative;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 40px; */

}

.block {
    display: flex;
    margin: 20px auto;
    max-width: 1380px;
    height: 500px;
    align-items: center;
    flex-wrap: nowrap;
}

.review {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
}

#perahead {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

/* catagory  */
#catagory {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1380px;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: clamp(20px, 5vw, 40px);
}

#blurbox {
    background: #BD59FF14;
    backdrop-filter: blur(100px);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    gap: 20px;
}

#cata {
    display: flex;
    gap: 20px;
}

.catbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 20px;
    width: 400;
    height: 271;
    top: 3423px;
    left: 342px;
    border-radius: 10px;
    background: linear-gradient(218.93deg, #BC5AFF 1.08%, #7A0AFF 160.42%);
}

.caticon {
    width: 60px;
}

.cathead {
    font-family: 'roboto';
    font-weight: 500;
    font-size: 24px;
}

/* testimonials  */
#testimonials {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 100px auto;
    max-width: 1600px;
    align-items: center;
}

#testitop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#google_review {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bg_nd_btn {
    display: flex;
    gap: 100px;
    align-items: center;
}

#blurbox2 {
    position: relative;
    background: linear-gradient(360deg, #252139 0%, #675C9F 183.05%);
    backdrop-filter: blur(100px);
    padding: 40px;
    z-index: auto;
    display: inline-flex;
    width: 730px;
    border-radius: 10px;
    gap: 40px;
    align-items: center;
    margin: auto -120px;
}

#Reviewed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

/* Why we  */
#blurbox3 {
    position: relative;
    background: #BD59FF14;
    backdrop-filter: blur(100px);
    padding: 0px 0px 0px 60px;
    display: flex;
    align-items: center;
    width: 1380px;
    border-radius: 10px;
    gap: 40px;
    margin: 120px auto;
    flex-direction: row;
}

#why_we {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 40px;
}

#img_whywe {
    position: relative;
    align-items: flex-end;
}

/* Our Typical projects  */
#typicalprjs {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1600px;
    gap: 40px;
}

#horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    align-content: center;
}

#prjs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#prjs_top,
#prjs_1,
#prjs_2,
#prjs_4,
#prjs_5 {

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#prj_head_1,
#prj_head_2,
#prj_head_3,
#prj_head_4,
#prj_head_5 {
    position: relative;
    top: -40px;
    color: white;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    background: #BC5AFF;
    line-height: 40px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

#prjs_1,
#prjs_5 {
    opacity: 50%;
}

#prj_head_1,
#prj_head_5 {
    font-size: 18px;
}

#prjs_2,
#prjs_4 {
    opacity: 70%;

}

#prj_head_2,
#prj_head_4 {
    font-size: 20px;
}

/* blog section  */
#blog {
    position: relative;
    background-image: url(images/blog\ bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    align-items: center;
    margin: 100px 0;
    gap: 80px;
}

#blogH {
    max-width: 1600x;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

#blog_boxes {
    display: flex;
    align-items: flex-start;
    align-items: stretch;
    gap: 40px;
}

.blogBox {
    display: flex;
    flex-direction: column;
    background: #23004D;
    width: 400px;
    border-radius: 10px;
}

.blogHR {
    width: 100%;
    border: 1px solid #ECDDFF;

}

.blogContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px;
    gap: 20px;
}

.blogHead {
    font-family: 'roboto';
    font-size: 18px;
    height: 4em;
}

.ReadMore {
    background: none;
    color: #E1C8FF;
    font-family: 'roboto';
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
}

/* case studies  */
#caseStudies{
position: relative;
display: flex;
flex-direction: column;
align-items: center;
margin: 100px  auto;
max-width: 1600px;
gap: 80px;
}
#hori {
    display: flex;
    align-items: center;
    gap: 100px;
}
#csblocks{
    display: flex;
    align-items: flex-start;
    /* width: 100%; */
    /* justify-content: space-between; */
    gap: 40px;
}
.csblock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}
.cstxt{
    position: relative;
    top: -50px;
    background: linear-gradient(180deg, #BD59FF 0%, #713599 100%);
    padding: 40px 20px;
    display: flex;
    gap: 20px;
    /* flex-direction: column; */
    /* align-items: flex-end; */
    border-radius: 10px 0;
    width: 90%;
}

.leftArrow{
    margin: 0 -20px -70px 0;
    padding: 10px;
    background: #C391FF;
    border-radius: 10px 0;
}
footer{
    display: flex;
    width: 1600px;
    color: white;
    justify-content: space-between;
    font-family: 'roboto';
    font-size: 18px;
}
ul{
    display: contents;
    gap: 20px;
}
li{
    list-style: none;
    font-weight: 300;
}
h5{
    font-size: 20px;
}
.foot_col{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#Social_icon{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
